



.label {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__subtitle {
        position: relative;
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
        z-index: 2;
        width: 300px;
        margin-bottom: 20px;
        &_centred  {
            text-align: center;
        }
    }

    &__circle {
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 85%;
        transform: translate(-50%, -50%);
        &_centred {
            top: 50%;
            left: 50%;
        }
    }
    &__circle-mini {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -25px;
    }

    &__title {
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__line {
        border-top: 3px solid $main-color;
        width: 60px;
    }
    &_centred {
        margin: 0 auto;
        align-items: center;
        margin-bottom: 60px;
    }

}

.subtitle {
    color: #000;
    font-size: .875rem;
    font-weight: 700;
    line-height: normal;
    &_normal {
        font-size: 20px;
    }
}

.circle {
    width: 36px;
    height: 36px; 
    background: $main-color; 
    border-radius: 50%;
    &_small {
        width: .9375rem;
        height: .9375rem;
    } 
}

.text-little {
    font-size: .75rem;
    font-weight: 500;
    line-height: normal;
}